@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "header";
@import "esim";
@import "tariffs";
*, html, body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1224px;
  padding: 0 20px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  padding: 16px 0;

  &__link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;

    span {

      margin: 0 16px;
    }
  }
}


